In [1]:
import numpy as np
import pandas as pd

/home/ar600/anaconda2/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [62]:
data = pd.read_csv('checkins.dat', delimiter='|', skipinitialspace=True).dropna(axis=0)

In [63]:
data.tail()

,id,user_id,venue_id,latitude,longitude,created_at
1021960,955561,626076.0,20073.0,40.850100,-73.866246,2012-04-13 09:56:48
1021961,955892,674797.0,2297.0,33.748995,-84.387982,2012-04-13 10:56:03
1021962,956377,845102.0,11195.0,42.765366,-71.467566,2012-04-13 12:08:45
1021963,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021965,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19

In [64]:
data.columns

Index([u'id    ', u'user_id ', u'venue_id ', u'latitude      ',
       u'longitude     ', u'created_at      '],
      dtype='object')

In [65]:
cols = [col.strip() for col in data.columns]
print cols

['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at']

In [66]:
data.columns=cols

In [67]:
data.head()

         id    user_id  venue_id   latitude   longitude           created_at
2   984222     15824.0    5222.0  38.895112  -77.036366  2012-04-21 17:43:47
4   984234     44652.0    5222.0  33.800745  -84.410520  2012-04-21 17:43:43
8   984291    105054.0    5222.0  45.523452 -122.676207  2012-04-21 17:39:22
10  984318   2146539.0    5222.0  40.764462 -111.904565  2012-04-21 17:35:46
11  984232     93870.0  380645.0  33.448377 -112.074037  2012-04-21 17:38:18

In [68]:
len(data)

396634

In [69]:
from sklearn.cluster import MeanShift, estimate_bandwidth

In [71]:
X = data[['latitude', 'longitude']]
X.head()

     latitude   longitude
2   38.895112  -77.036366
4   33.800745  -84.410520
8   45.523452 -122.676207
10  40.764462 -111.904565
11  33.448377 -112.074037

In [76]:
ms = MeanShift(bandwidth=0.1)
ms.fit(X[:100000])
labels = ms.labels_
cluster_centers = ms.cluster_centers_

In [77]:
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

In [80]:
counts = dict()

In [81]:
for i in range(len(labels)):
    if counts.has_key(labels[i]):
        counts[labels[i]]+=1
    else:
        counts[labels[i]]=1

In [85]:
interesting_labels = [label for label in labels_unique if counts[label]>15]
points = [cluster_centers[i] for i in range(len(cluster_centers)) if interesting_labels.count(labels[i])>0]

In [87]:
len(points)

2918

In [91]:
#for point in points:
#    print "%f,%f" % (point[0], point[1])

In [92]:
offices = []
offices.append([33.751277, -118.188740])
offices.append([25.867736, -80.324116])
offices.append([51.503016, -0.075479])
offices.append([52.378894, 4.885084])
offices.append([39.366487, 117.036146])
offices.append([-33.868457, 151.205134])

In [95]:
best_points=[]
dist=[]
for point in points:
    best_dist=1000000
    for office in offices:
        d = np.sqrt((point[0]-office[0])*2+(point[1]-office[1])*2)
        if d<best_dist:
            best_dist=d
    dist.append(best_dist)

dist = np.array(dist)
idxs = np.argsort(dist)[:20]

In [96]:
idxs

array([ 334,  218,  371,  103, 1281, 2595, 2329,   28,   76,  731,   17,
       2293, 1318, 1093, 1119,   85, 2656,  678,   47,  721])

In [97]:
dist[idxs]

array([ 0.05105317,  0.10290735,  0.12221702,  0.12528203,  0.13935853,
        0.14560701,  0.19349574,  0.22024706,  0.25554608,  0.25778906,
        0.26058486,  0.29977325,  0.34474309,  0.36886426,  0.39424434,
        0.41561584,  0.44267144,  0.44307618,  0.44366011,  0.46291379])

In [99]:
points=np.array(points)
for point in points[idxs]:
    print "%f,%f" % (point[0], point[1])

52.372964,4.892317
32.792575,-117.224743
-33.860630,151.204776
37.591120,-122.020735
35.463416,-89.910086
34.257607,-88.703386
52.921899,-1.475642
25.785812,-80.217938
37.693034,-122.097845
38.232417,-122.636652
34.035487,-118.438998
47.015240,10.293670
48.849920,2.637041
38.334893,-122.704326
52.634770,-1.129519
34.198182,-118.549277
56.837814,60.596842
33.211757,-87.569979
33.809878,-118.148924
28.030303,-82.379539